<div>
  <input type="text" id="usernameInput" placeholder="username" />
  <input type="text" id="colorInput" placeholder="#f00" size="7"/>
  <button type="button" id="usernameSend">Join Room</button>
</div>

<h4>Connected Clients:</h4>
<ul id="clients"></ul>

<div id="chatlog" style="width: 80%; height: 200px; border: 1px solid darkgrey;"></div>

<div id="test">
  <ul id="messages"></ul>
  <input type="text" id="textinput" style="width: 80%" />
  <button type="button" id="sendinput">Send</button>
</div>
