<div id="test">
  <ul id="messages"></ul>
  <input type="text" id="textinput" />
  <button type="button" id="sendinput">Send</button>
</div>


<div id="username_wrapper">
  <ul id="username"></ul>
  <input type="text" id="usernameInput" />
  <button type="button" id="usernameSend">Join Room</button>
</div>